<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPO_RUNTIME_VERSION</key>
	<string>2.1.4</string>
	<key>developmentUrl</key>
	<string>exp504ab8f88d434e64a53397650cd96adc://192.168.31.20:19000</string>
</dict>
</plist>
